@font-face {
    font-family: sifonn;
    src: url("./SIFONN_PRO.otf");
}
header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
#nav_bar_links{
    display: flex;
    align-items: center;
    font-size: normal;
    font-size: 18px;
    color: grey;
}
#nav_bar_links button{
    margin: 0 10px;
}
#nav_bar_links button:hover{
    cursor: pointer;
}
#nav_bar_links button p{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: grey;
}
#login{
    height: 45px;
    width: 100px;
    margin: 10px;
    background-color: #0063FF;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    color: #fff;
    font-size: 18px;
}
#logo h3{
    font-family: sifonn;
    color: #0063FF;
    font-size: 20px;
}
button{
    height: 50px;
}
@media only screen and (max-Width: 900px){
    #nav_bar_links{
        width: 0px;
        height: 0px;
        opacity: 0;
        display: none;
    }
    #nav_bar_links p{
        width: 0px;
        opacity: 0px;
        pointer-events: none;
        display: none;
    }
    #nav_bar_links button{
        width: 0px;
        height: 0px;
        display: none;
    }
}