#description{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
}
#description_container{
    width: 90%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#description_program_top{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#description_program_top h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 20px 0;
    border-bottom: 3px solid #000aff;
    width: fit-content;

}
#description_program_top p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 100;
}
#description_program_links{
    margin-top: 20px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}