#giveaway_page{
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    color: rgb(75,75,75);
}
#giveaway_image{
    width: 40%;
    margin-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#giveaway_image img{
    width: 95%;
    object-fit: contain;
}
#giveaway_text{
    width: 50%;
    font-family: 'Roboto', sans-serif;
}
#giveaway_text h1{
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}
#giveaway_text h4{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 72, 72);
}
#giveaway_text button{
    width: 100px;
    height: 50px;
    text-transform: none;
    font-size: 18px;
    background-color: #0063ff;
    color: #fff;
}
@media only screen and (max-width:850px){
    #giveaway_page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #giveaway_image{
        width: 80%;
    }
    #giveaway_text{
        width: 100%;
    }
}