#signup2_page{
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#signup2_page_text{
    width: 60%;
}
#signup2_page h1{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
#signup2_page p{
    font-family: 'Roboto', sans-serif;
}
#form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
#form label{
    font-family: 'Roboto', sans-serif;
}
#signup2_page_image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#signup2_page_image img{
    width: 100%;
    object-fit: contain;
}
p{
    font-family: 'Roboto', sans-serif;
}
#form p{
    color: rgb(255, 57, 57);
}
.ImageUploadCard-root-1{
    width: 200px !important;
}
.input{
    width: 300px;
}
.MuiFab-label{
    color: #0063ff !important;
}


@media only screen and (max-width:900px){
    #signup2_page_image{
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
    }
    #signup2_page_text{
        width: 100%;
    }
    #signup2_page_text #form{
        width: 100%;
    }
}